<!DOCTYPE html>
<html>
<head>
  <title>Aferragano</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>AFERRAGANO</h1>
	<nav>
		<ul>
			<li>Sign Up</li>
			<li>Login </li>
			<li>Logout </li>
		</ul>
	</nav>

	


<%= yield %>

</body>
</html>
